body {
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.uni {
    border: 1px solid red;
}

.variaveis {
    border-color: 1px solid red;
}